.a{
    background-color: #fa5353;
}
.b{
    background-color: blue;
}
.c{
    background-color: green;
}
.d{
    background-color: gray;
}
.e{
    background-color: lightgray;
}
.f{
    border: 1px solid gray;
}